<table class="table table-sm table-striped table-dark p-1 m-0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Цена</th>
      <th>Картинка</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let p of getProducts()' class="align-middle">
      <td class="align-middle">{{p.id}}</td>
      <td class="align-middle">{{p.name}}</td>
      <td class="align-middle">{{p.category}}</td>
      <td class="align-middle">{{p.price | currency:"USD":true:"2.2-2"}}</td>
      <td><img class="product-image" src="{{p.image}}" alt=""></td>
      <td>
        <button class="btn btn-sm btn-warning btn-block" [routerLink]="['/admin/main/products/edit', p.id]">
          Редактировать
        </button>
        <button class="btn btn-sm btn-danger mt-2 btn-block" (click)="deleteProduct(p.id)">
          Удалить
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary mt-3 mb-3" routerLink="/admin/main/products/create">
  Добавить продукт
</button>
