@import "../node_modules/font-awesome/css/font-awesome.min.css";

body{
  min-height: 100vh;
  padding: 5vh 0;
  background: linear-gradient(45deg, #633956 0%,#2f557e 100%);
}

.main-menu, .main-list {
  overflow-y: scroll;
}
